.supervisorPage {
  display: flex;
  height: 100vh;

  .wrapper1{
      // padding-left: 50px;
      // padding-right: 50px;
      display: flex;
      flex: 3;
      flex-direction: column;
      gap: 50px;
      height: 100vh;
      overflow-y: auto;
      justify-content: center;

    .leftside {
    // flex: 3;
    overflow-y: scroll;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-top: 50px;


    .wrapper{
      padding-right: 5px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .info{
        display: flex;
        flex-direction: column;
        gap: 20px;

        span{
          display: flex;
          align-items: center;
          gap: 20px;
        }

        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  }

  .rightside {
    flex: 0.7;
    background-color: #f6f2f8;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
